.fs-6.sub-title {
    font-size: 12px;
}

.btn-link {
    color: #fff !important;
    text-decoration: none !important;
}

.btn-link:focus {
    box-shadow: none !important;
}

.btn-link:hover {
    color: #fff !important;
}